.input-container_password-confirmation {}

.placeholder {
	display: inline-block;
	position: relative;
	bottom: 3.2rem;
	left: 1rem;
	color: #aaaaaa;
}

.button_holder { 
	position: absolute;
	margin-left: 19.6rem;
	margin-top: -2.4rem;
}