.paragraph {}

.paragraph_grey { 
	color: #84888f;
}

.paragraph_red { 
	color: rgb(244, 44, 79)
}

.paragraph_white { 
	color: #fff
}

.font_small { 
	font-size: 0.7rem;
}

.font_medium { 
	font-size: 0.9rem;
}